---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Hero from '../../components/Hero.astro';
import Main from "../../components/Main.astro";
import TableOfContents from '../../components/TableOfContents.astro';

interface Props {
    post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
    const blogPosts = await getCollection('blog');
    return blogPosts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}
const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.excerpt}>
    <Main type="page" class="max-w-none">
        <Hero
            title={post.data.title}
        />
        <div class="mt-16 p-4 lg:mx-auto min-h-screen">
            <div class="flex gap-12 max-w-full flex-col lg:flex-row">
                <article class="prose lg:prose-xl prose-headings:text-indigo-600 flex-1 min-w-0 max-w-none">
                    <Content />
                </article>

                <aside class="order-first lg:order-last lg:block lg:w-64 xl:w-96 flex-shrink-0">
                    <TableOfContents headings={headings} />
                </aside>
            </div>
        </div>
    </Main>
</BaseLayout>
