@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-mono: 'JetBrains Mono', monospace;
    --font-handwriting: 'JetBrains Mono', monospace;

    --color-primary: var(--color-purple-900);
    --color-secondary: var(--color-purple-600);
}
