/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .lg\:h-90 {
    height: 90%;
  }
}

 .hljs {
  display: block;
  overflow-x: auto;
  /* Custom font is optional */
  /* font-family: 'Operator Mono', 'Fira Code', 'Menlo', 'Monaco', 'Courier New', 'monospace';  */
  padding: 0.5em;
  @apply bg-white;
  font-weight: normal;
}

.hljs-title {
  @apply text-blue-900;
  font-weight: normal;
}

.hljs-name {
  @apply text-blue-900;
}

.hljs-tag {
  @apply text-blue-900;
}

.hljs-attr {
  @apply text-blue-900;
  font-style: italic;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section {
  @apply text-blue-900;
}

.hljs-keyword {
  @apply text-blue-900;
}

.hljs,
.hljs-subst {
  @apply text-blue-900;
}

.hljs-string,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-code,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-quote,
.hljs-deletion {
  @apply text-blue-900;
}

.hljs-meta,
.hljs-meta-string {
  @apply text-blue-900;
}

.hljs-comment {
  @apply text-blue-900;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name,
.hljs-strong {
  font-weight: normal;
}

.hljs-literal,
.hljs-number {
  @apply text-blue-900;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
