@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

@media (min-width: 1280px) {
  .xl\:left-120 {
    left: 30rem;
  }

  .xl\:ml-120 {
    margin-left: 30rem;
  }

  .xl\:w-120 {
    width: 30rem;
  }

  .xl\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .lg\:w-112 {
    width: 28rem;
  }

  .lg\:ml-112 {
    margin-left: 28rem;
  }
}
