---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Main from "../components/Main.astro";
---

<BaseLayout title="About | Jyrki De Neve" description="About me">
	<Main type="page">
		`<Hero
			title="Hello, my name is Jyrki De Neve"
		/>`
		<div>
			<p class="mb-4">
				I'm a backend developer at Code d'Or, living in Suntaži Parish (Latvia). After I graduated in 2012 I started at Code d'Or. We write code in PHP, till 2 years ago that was mainly CakePHP 2, but now the most projects we do are written with Laravel.
			</p>
			<p class="mb-4">
				You can find out more here here about the tools we use. If you want to know my personal setup, check back later, that will be my first blog post.
			</p>
			<p class="mb-4">
				My main focus is PHP, but I like to write some code in javascript (mainly Vue.js, this site is built with Astro) and sometimes I even experiment with CSS (this website is written with Tailwind) and some DevOps stuff.
			</p>
			<p>
				Follow me on Twitter or DM me if you want to reach out.
			</p>
		</div>
	</Main>
</BaseLayout>
