---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Main from '../components/Main.astro';
---

<BaseLayout>
	<Main type="hero">
		<div class="mb-16 flex">
			<Hero
				title="Hello, my name is Jyrki"
			/>
		</div>
		<div>
			<p>
				A Belgian senior Laravel developer based in Latvia.
			</p>
		</div>
	</Main>
</BaseLayout>
