---
import BaseLayout from '../layouts/BaseLayout.astro';
import AnimatedHero from '../components/AnimatedHero.astro';
import Main from '../components/Main.astro';
---

<BaseLayout>
	<Main type="hero">
		<AnimatedHero
			title="Hello, my name is Jyrki"
			tagline="Senior Laravel developer"
		/>
	</Main>
</BaseLayout>
