---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Main from '../components/Main.astro';
import Skills from '../components/Skills.astro';
---

<BaseLayout>
	<Main type="page">
		<Hero
			title="My Skills"
		/>
		<div class="mt-16 p-4 lg:w-2/3 lg:mx-auto">
			<Skills />
		</div>
	</Main>
</BaseLayout>
