---
const currentYear = new Date().getFullYear();
---

<footer transition:persist class="pb-4">
	<div class="relative px-4 sm:px-6 md:px-8 xl:px-12 flex justify-between space-x-8">
		<p>
			Follow me on <a target="_blank" href="https://bsky.app/profile/jyrki.dev" class="underline text-indigo-600">Bluesky</a> or <a target="_blank" href="https://github.com/jyrkidn" class="underline text-indigo-600">Github</a> or subscribe to <a target="_blank" href="/blog.xml" class="underline text-indigo-600">RSS</a>.
		</p>
		<p>&copy; {currentYear} Jyrki De Neve</p>
	</div>
</footer>
