---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class="text-md md:text-lg md:leading-8">
	<h1 class="text-4xl md:text-6xl font-extrabold text-indigo-600">
		{title}
	</h1>
	{tagline && <p class="mt-5">{tagline}</p>}
</div>
