---
/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Resume', href: '/resume' },
	{ label: 'About', href: '/about' },
];
---

<nav>
	<header class="relative mb-16 md:mb-36 max-w-[52rem] mx-auto px-4 sm:px-6 md:px-8 xl:px-12 lg:max-w-7xl pt-6 md:w-auto">
		<div class="flex items-center text-center">
			<a href="/" class="border-none text-2xl font-extrabold text-transparent bg-clip-text bg-gradient-to-tl from-indigo-400 to-indigo-600">
				Jyrki De Neve
			</a>
			<div class="relative flex items-center ml-auto space-x-2 md:space-x-8">
				<!--<nav>-->
				<!--	<ul class="text-sm flex items-center space-x-2 md:space-x-8 font-medium leading-none">-->
				<!--		{-->
				<!--			textLinks.map(({ label, href }) => (-->
				<!--				<li>-->
				<!--					<a-->
				<!--						aria-current={Astro.url.pathname === href}-->
				<!--						class:list={[-->
				<!--							'uppercase',-->
				<!--							'text-gray-800',-->
				<!--							{-->
				<!--								'text-purple-500':-->
				<!--									Astro.url.pathname === href ||-->
				<!--									(href !== '/' && Astro.url.pathname.startsWith(href)),-->
				<!--							},-->
				<!--						]}-->
				<!--						href={href}-->
				<!--					>-->
				<!--						{label}-->
				<!--					</a>-->
				<!--				</li>-->
				<!--			))-->
				<!--		}-->
				<!--	</ul>-->
				<!--</nav>-->
			</div>
		</div>
	</header>
</nav>
