---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en" transition:animate="fade" class="h-full bg-indigo-600 text-base antialiased">
	<head>
		<MainHead title={title} description={description} />
		<ViewTransitions />
	</head>
	<body class="flex min-h-full flex-col font-mono">
		<div class="rounded-[1px] m-1 relative flex flex-col flex-auto overflow-hidden bg-white pt-4">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>
	</body>
</html>
