---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Main from '../components/Main.astro';
---

<BaseLayout>
	<Main type="page" class="prose lg:prose-xl prose-headings:text-indigo-600">
		<Hero
			title="Uses"
		/>
		<slot />
	</Main>
</BaseLayout>
